/****************
GENERIC STYLES
*****************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/****************
LAYOUT
*****************/
.hero {
  background-color: hsla(184, 73%, 10%, 1);
  padding: 9.25em 0;
}

.hero__text {
  color: hsla(360, 100%, 100%, 1);
  width: 60%;
}

.hero__img {
  width: 30%;
}

.container {
  width: 83%;
  max-width: 74.75em;
  margin: 0 auto;
}

/****************
TYPOGRAPHY
*****************/
.hero__text h1 {
  font-size: 3rem;
  font-weight: 900;
}

.hero__text p {
  line-height: 1.5em;
  color: hsla(360, 100%, 100%, 0.85);
  margin: 1.5em 0 4em 0;
}

/****************
COMPONENTS
*****************/
.btn {
  display: inline-block;
  background-color: hsla(184, 68%, 53%, 1);
  color: hsla(184, 73%, 10%, 1);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 700;
  border-radius: 100px;
  padding: 1em 3em;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

/****************
UTILITIES
*****************/
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
