/****************
GENERIC STYLES
*****************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  --col-1: 63%;
  --col-2: 34%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/****************
LAYOUT
*****************/
.hero {
  background-color: hsla(184, 73%, 10%, 1);
  padding: 9.25em 0;
}

.hero__text {
  color: hsla(360, 100%, 100%, 1);
  width: var(--col-1);
}

.hero__img {
  width: var(--col-2);
}

.container {
  width: 83%;
  max-width: 74.75em;
  margin: 0 auto;
}

main {
  padding: 3em 0;
}

.main__content {
  padding: 2em 0;
  width: var(--col-1);
}

.main__sidebar {
  background-color: hsla(184, 71%, 26%, 1);
  padding: 2em 2em;
  text-align: center;
  width: var(--col-2);
}

.main__sidebar__item + .main__sidebar__item {
  padding-top: 3em;
}

/****************
TYPOGRAPHY
*****************/
.hero__text h1 {
  font-size: 3rem;
  font-weight: 900;
}

.hero__text p {
  line-height: 1.5em;
  color: hsla(360, 100%, 100%, 0.85);
  margin: 1.5em 0 4em 0;
}

main p {
  margin-top: 1.25em;
  line-height: 1.5em;
  text-wrap: balance;
}

.main__content h2 {
  font-weight: 900;
  font-size: 2.25rem;
  color: hsla(184, 71%, 26%, 1);
}

.main__sidebar {
  color: hsla(360, 100%, 100%, 1);
}

.main__sidebar h2 {
  font-size: 2rem;
}

/****************
COMPONENTS
*****************/
.btn {
  display: inline-block;
  background-color: hsla(184, 68%, 53%, 1);
  color: hsla(184, 73%, 10%, 1);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 700;
  border-radius: 100px;
  padding: 1em 3em;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

/****************
UTILITIES
*****************/
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
